body {
	color: black !important;
}

.buttons-pdf{
	color: #fff !important;
	background-color: #4e73df !important;
	border-color: #4e73df !important;
}

button.dt-button, div.dt-button, a.dt-button {
	background: red;
}

.buttons-pdf:hover {
	background-color: #4e73df !important;
}

.inputfile2 {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile-2 + label {
	color: white !important;
	border-radius: 20px;
	background-color: #2e63bf75;
	height: 40px;
	margin-top: -1.4rem !important;
}

.form-group label {
	color: black !important;
}

.bg-guimeco{
	background:#003052 !important;
	color: white;
}

.bg-guimeco:hover{
	background:#003052 !important;
	color: white;
}

.bg-guimeco-2{
	background:#2D96C1 !important;
	color: white;
}

.container-check {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-top: 10px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.container-check input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-check:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-check input:checked ~ .checkmark {
	background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container-check input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container-check .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.bg-secondarys {
	background: #009cde !important;
	color:white;
}

@media screen and (max-width: 1967px) {
	.select2 {
		width: 100% !important;
		height:40px;
	}
	
}

@media screen and (max-width: 600px) {
	ul.tabs {
		width: 100% !important;
	}
	ul.tabs li {
		width: 100% !important;
	}
	ul.tabs li a {
		width: 100% !important;
	}
}

.container {
	padding: 15px !important;
}

ul.tabs { margin:0; padding:0; float:left; width: 100%; }
ul.tabs li {margin-top: 3px;float:left; display:inline; margin-right:10px; cursor:pointer; font-weight:bold;  }
ul.tabs li a {border-radius: 5px; width:180px; line-height:30px; background:#009cde; text-align:center; float:left; text-decoration:none; color:#fff; }
ul.tabs li a:hover, ul.tabs li a.active { background:#003052; color:white; }

.tab_content_container { width:100%; height:60vh; float:left; background:#fff; padding:20px; margin-top:1px; font-size:14px; border-radius:0 0 10px 10px; -moz-border-radius:0 0 10px 10px; -webkit-border-radius:0 0 10px 10px; display:block;}
.tab_content { display:none; width:100%; overflow:auto; overflow-x:hidden;}
.tab_content_active { 
	display:block;
	text-align: justify; 
	width: 100% !important; 
	overflow:auto; 
	overflow-x:hidden;  
}
.tab_content_active span { float:left; width:100px; margin-right:20px; }

.cualquier-cambio{
	font-size: 15px !important;
	color: grey;
}

.cualquier-cambio i {
	background: grey !important;
	color: white;
	padding-left: 8px;
	padding-top: 4px;
	height: 20px;
	width: 20px;
	font-size: 10px;
	border-radius: 50px;
}

.consultorio-doctor {
	font-size: 15px !important;
	color: #009cde !important;
}

.direction-add {
	float: right;
	color: #009cde;
	margin-top: -20px;
	text-decoration: none;
}

.addNewImage{
	background: #009cde;
	color: white;
	height: 100px !important;
	width: 100px;
	margin: 0px auto !important;
	text-align: center;
	border-radius: 8px;
	cursor: pointer; 
}

.doctor-image {
	width: 100%;
	height: 230px;
	margin: 0px auto;
}

.doctor-image-delete {
	position: absolute;
	top: 5px;
	border-radius: 50%;
	right: 15px;
	background: #ffffff9c;
	width: 20px;
	height: 20px;
	text-align: center;
}

.patologia-save {
	float: right;
	margin-top: 5px;
	margin-left: -10px;
}

.patologia-icon {
	margin-top: 15px;width: 20px; height: 20px; text-align: center; border-radius: 50%;
}