<template>
    <div class="row">
        <div class='form-group col-md-4 col-sm-12'>
            <label for="inlineFormInputGroup">Loan amont</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend"> 
                    <div class="input-group-text" style="background:#00578d; color:white" ><i class='fab fa-money'></i></div>
                </div>
                <input type="number" class="form-control" ref="loans_amount" name='loans_amont' required placeholder="Loan amont" v-model="amount">
            </div>
        </div>
        <div class='form-group col-md-4 col-sm-12'>
            <label for="inlineFormInputGroup">Annual Interest Rate</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend"> 
                    <div class="input-group-text" style="background:#00578d; color:white" ><i class='fab fa-money'></i></div>
                </div>
                <input type="number" @blur="calculateRate" class="form-control" ref="interest" name='loans_amont' required placeholder="Loan amont" v-model="interest">
            </div>
        </div>
        <div class='form-group col-md-4 col-sm-12'>
            <label for="inlineFormInputGroup">Term of Loan in Years</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend"> 
                    <div class="input-group-text" style="background:#00578d; color:white" ><i class='fab fa-money'></i></div>
                </div>
                <input type="number" class="form-control" ref="termInYear" name='loans_amont' required placeholder="Loan amont" v-model="termInYear" @input="calculateNumberOfPayment">
            </div>
        </div>
        <div class='form-group col-md-4 col-sm-12'>
            <label for="inlineFormInputGroup">First payment date</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text" style="background:#00578d; color:white" ><i class="fas fa-money"></i></div>
                </div>
                <input type="date" class="form-control" ref="firstPayment" name='first_payment' required placeholder="First payment date" v-model="first_payment">
            </div>
        </div>
        <div class='form-group col-md-4 col-sm-12'>
            <label for="inlineFormInputGroup">Payment Frequency</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text" style="background:#00578d; color:white" ><i class="fas fa-money"></i></div>
                </div>
                <select @input="calculateRate" name="frequency" ref="paymentFrequency" class="form-control" required="" v-model="paymentFrequency">
                    <option value="">
                        Select item from the list
                    </option>
                    <option v-for="(frequency, idx) in paymentFrequencyOption" :key="idx" :value="frequency.id">
                        {{frequency.label}}
                    </option>
                </select>
            </div>
        </div>
        <div class='form-group col-md-4 col-sm-12'>
            <label for="inlineFormInputGroup">Type</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text" style="background:#00578d; color:white" ><i class="fas fa-money"></i></div>
                </div>
                <select @change="calculateTotalPayments" name="type" ref="type" class="form-control" required="" v-model="typeSelected">
                    <option v-for="(type, idx) in type" :key="idx" :value="type.value">
                        {{type.label}}
                    </option>
                </select>
            </div>
        </div>
        <div class='form-group col-md-6 col-sm-12'>
            <label for="inlineFormInputGroup">Compound Period</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text" style="background:#00578d; color:white" ><i class="fas fa-money"></i></div>
                </div>
                <select @input="calculateRate" name="compoundPeriod" ref="compoundPeriod" class="form-control" required="" v-model="compoundPeriod">
                    <option value="">
                        Select item from the list
                    </option>
                    <option v-for="(compoundPeriod, idx) in compoundPeriodOption" :key="idx" :value="compoundPeriod.id">
                        {{compoundPeriod.label}}
                    </option>
                </select>
            </div>
        </div>
        <div class='form-group col-md-6 col-sm-12'>
            <label for="inlineFormInputGroup">Payment Type</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text" style="background:#00578d; color:white" ><i class="fas fa-money"></i></div>
                </div>
                <select name="paymentType" ref="payment-type" class="form-control" required="" v-model="paymentType">
                    <option value="" selected="">
                        Select item from the list
                    </option>
                    <option v-for="(paymentType, idx) in paymentTypeOption" :key="idx" :value="paymentType.id">
                        {{paymentType.label}}
                    </option>
                </select>
            </div>
        </div>
        <div class="separator"></div>
        <showRate v-if="renderShowRate" :rate="showRate"></showRate>
        <showTotalOfPaiment v-if="renderNumberOfPayment" :total="numberOfPayment"></showTotalOfPaiment>
        <div class='form-group col-md-3 col-sm-12 mt-2'>
            <label for="inlineFormInputGroup">Total Payments</label>
            <div class="input-group mb-2">
                <div class="input-group mb-2">
                    <div class="input-group-prepend"> 
                        <div class="input-group-text" style="background:#00578d; color:white" ><i class='fab fa-money'></i></div>
                    </div>
                    <input readonly="" type="text" class="form-control" ref="totalToPay" name='totalToPay' required placeholder="Total Payments" v-model="totalToPay">
                </div>
            </div>
        </div>
         <div class='form-group col-md-3 col-sm-12 mt-2'>
            <label for="inlineFormInputGroup">Total interest</label>
            <div class="input-group mb-2">
                <div class="input-group mb-2">
                    <div class="input-group-prepend"> 
                        <div class="input-group-text" style="background:#00578d; color:white" ><i class='fab fa-money'></i></div>
                    </div>
                    <input readonly="" type="text" class="form-control" ref="totalInterestToPay" name='totalInterestToPay' required placeholder="Total Payments" v-model="totalInterestToPay">
                </div>
            </div>
        </div>
        <div class='form-group col-md-12 col-sm-12'>
            <table class="table" style="width: 100%">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Due Date</th>
                  <th scope="col">Payment</th>
                  <th scope="col">Additional Payment</th>
                  <th scope="col">Interest</th>
                  <th scope="col">Principal</th>
                  <th scope="col">Balance</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(data, idx) in tablaData" :key="idx">
                  <th scope="row">{{data.number}}</th>
                  <td>{{data.date}}</td>
                  <td>{{data.payment}}</td>
                  <td>{{data.additionalPayment}}</td>
                  <td>{{data.interest}}</td>
                  <td>{{data.principal}}</td>
                  <td>{{data.balance}}</td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class='form-group col-md-12 col-sm-12'>
            <button class="btn btn-success" @click="addLoans">Save</button>
        </div>
    </div>
</template>

<script>
    import showRate from './showRate.vue'
    import showTotalOfPaiment from './showTotalOfPaiment.vue'
    export default {
        name: 'addLoanz',
        components: {
            showRate,
            showTotalOfPaiment
        },
        data () {
            return {
                amount: 0,
                interest: 0,
                termInYear: 1,
                first_payment: '',
                type: [
                    {
                        'value': 0,
                        'label': 'Select option'
                    },
                    {
                        'value': 1,
                        'label': 'Interest-only'
                    },
                    {
                        'value': 2,
                        'label': 'Amortized'
                    }
                ],
                paymentFrequencyOption: [
                    {
                        'id': 1,
                        'label': 'Annual'
                    },
                    {
                        'id': 2,
                        'label': 'Semi-Annual'
                    },
                    {
                        'id': 4,
                        'label': 'Quarterly'
                    },
                    {
                        'id': 6,
                        'label': 'Bi-Monthly'
                    },
                    {
                        'id': 12,
                        'label': 'Monthly'
                    },
                    {
                        'id': 24,
                        'label': 'Semi-Monthly'
                    },
                    {
                        'id': 26,
                        'label': 'Bi-Weekly'
                    },
                    {
                        'id': 52,
                        'label': 'Weekly'
                    }
                ],
                compoundPeriodOption: [
                    {
                        'id': 1,
                        'label': 'Annual'
                    },
                    {
                        'id': 2,
                        'label': 'Semi-Annual'
                    },
                    {
                        'id': 4,
                        'label': 'Quarterly'
                    },
                    {
                        'id': 6,
                        'label': 'Bi-Monthly'
                    },
                    {
                        'id': 12,
                        'label': 'Monthly'
                    },
                    {
                        'id': 24,
                        'label': 'Semi-Monthly'
                    },
                    {
                        'id': 26,
                        'label': 'Bi-Weekly'
                    },
                    {
                        'id': 52,
                        'label': 'Weekly'
                    }
                ],
                paymentTypeOption: [
                    {
                        'id': 0,
                        'label': 'End of Period'
                    },
                    {
                        'id': 1,
                        'label': 'Beginning of Period'
                    }
                ],
                typeSelected: 0,
                paymentFrequency: 12,
                compoundPeriod: 12,
                paymentType: 0,
                rate: 0,
                showRate: 0,
                renderShowRate: false,
                numberOfPayment: 0,
                renderNumberOfPayment: false,
                totalInterest: 0,
                totalPayment : 0,
                tablaData: [],
                totalAmountLoanz: 0,
                totalToPay: 0,
                totalInterestToPay: 0
            }
        },
        methods: {
            calculateRate () {
                this.renderShowRate = false
                var insteresDecimals = this.interest / 100
                this.rate = Math.pow( ( 1 + insteresDecimals / parseInt(this.$refs.compoundPeriod.value) ), ( parseInt(this.$refs.compoundPeriod.value) / parseInt(this.$refs.paymentFrequency.value) ) ) - 1
                var totalRate = (this.rate.toFixed(9) * 100)
                this.rate = this.rate.toFixed(9)
                totalRate = totalRate.toFixed(3)
                this.showRate = totalRate
                this.$nextTick(() => {
                    this.renderShowRate = true
                    this.calculateNumberOfPayment()
                })
            },
            calculateNumberOfPayment () {
                this.renderNumberOfPayment = false
                this.numberOfPayment = parseInt(this.$refs.termInYear.value) * parseInt(this.$refs.paymentFrequency.value)
                 this.$nextTick(() => {
                    this.renderNumberOfPayment = true
                })
            },
            calculateTotalPayments (type) {
                this.tablaData = []
                var data = {}
                // calculate total payment by interest only
                if (parseInt(type.target.value) === 1) {
                    this.totalAmountLoanz = this.amount
                    var insteresDecimals = this.interest / 100
                    var totalPayment = (insteresDecimals * this.$refs.loans_amount.value) / this.$refs.paymentFrequency.value
                    this.totalPayment = totalPayment
                    // set data of table
                    if (this.paymentFrequency === 52 || this.paymentFrequency === 26) {
                        var day = 0
                        //validate payment frequency and set day in date
                        if (this.paymentFrequency === 52) {
                            day = 7
                        }
                        if (this.paymentFrequency === 26) {
                            day = 14
                        }
                        // initiate date in first payment
                        var dates = this.$refs.firstPayment.value
                        for (var i = 1; i <= (this.paymentFrequency * this.$refs.termInYear.value); i++) {
                            data.date = dates
                            data.number = i 
                            if (i < (this.paymentFrequency * this.$refs.termInYear.value)) {
                                data.payment = this.round(this.totalPayment, -1)
                                data.additionalPayment = 0
                                data.interest = this.round(this.rate * this.totalAmountLoanz, -1)
                                data.principal = this.round(data.payment - data.interest, -1)
                                var bala = this.round(this.totalAmountLoanz - data.principal, -1)
                                data.balance = bala         
                            } else {
                                data.interest = this.round(this.rate * this.totalAmountLoanz, -1)
                                data.payment = this.round(this.tablaData[this.tablaData.length - 1].balance + data.interest, -1)
                                data.principal = this.round(this.tablaData[this.tablaData.length - 1].balance, -1)
                                data.additionalPayment = 0
                                data.balance = 0
                            }
                            // push item tot abladata
                            this.tablaData.push(data)
                            this.totalAmountLoanz = this.totalAmountLoanz - data.principal
                            //sum days to date
                            dates = this.sumDaysToDate(dates, day)
                            data = {}
                        }
                    }
                    // semimontlu
                    if (this.paymentFrequency === 24) {
                        var day = 0
                        //validate payment frequency and set day in date
                        // initiate date in first payment
                        var dates = this.$refs.firstPayment.value
                        for (var i = 1; i <= (this.paymentFrequency * this.$refs.termInYear.value); i++) {
                            var control = this.isEven(i)
                            data.date = dates
                            data.number = i 
                            if (i < (this.paymentFrequency * this.$refs.termInYear.value)) {
                                data.payment = this.round(this.totalPayment, -1)
                                data.additionalPayment = 0
                                data.interest = this.round(this.rate * this.totalAmountLoanz, -1)
                                data.principal = this.round(data.payment - data.interest, -1)
                                var bala = this.round(this.totalAmountLoanz - data.principal, -1)
                                data.balance = bala         
                            } else {
                                data.interest = this.round(this.rate * this.totalAmountLoanz, -1)
                                data.payment = this.round(this.tablaData[this.tablaData.length - 1].balance + data.interest, -1)
                                data.principal = this.round(this.tablaData[this.tablaData.length - 1].balance, -1)
                                data.additionalPayment = 0
                                data.balance = 0
                            }
                            // push item tot abladata
                            this.tablaData.push(data)
                            this.totalAmountLoanz = this.totalAmountLoanz - data.principal
                            //sum days to date
                            if (control === 0) {
                                day = 16
                            } else {
                                day = 14
                            }
                            dates = this.sumDaysToDate(dates, day)
                            data = {}
                        }
                    }
                    // montly
                    if (this.paymentFrequency === 12) {
                        var month = 30
                        //validate payment frequency and set day in date
                        // initiate date in first payment
                        var dates = this.$refs.firstPayment.value
                        for (var i = 1; i <= (this.paymentFrequency * this.$refs.termInYear.value); i++) {
                            var control = this.isEven(i)
                            data.date = dates
                            data.number = i 
                            if (i < (this.paymentFrequency * this.$refs.termInYear.value)) {
                                data.payment = this.round(this.totalPayment, -1)
                                data.additionalPayment = 0
                                data.interest = this.round((this.rate * this.totalAmountLoanz), -1)
                                data.principal = this.round(data.payment - data.interest, -1)
                                var bala = this.round(this.totalAmountLoanz - data.principal, -1)
                                data.balance = bala         
                            } else {
                                data.interest = this.round(this.rate * this.totalAmountLoanz, -1)
                                data.payment = this.round(this.tablaData[this.tablaData.length - 1].balance + data.interest, -1)
                                data.principal = this.round(this.tablaData[this.tablaData.length - 1].balance, -1)
                                data.additionalPayment = 0
                                data.balance = 0
                            }
                            // push item tot abladata
                            this.tablaData.push(data)
                            this.totalAmountLoanz = this.totalAmountLoanz - data.principal
                            //sum days to date
                            dates = this.sumDaysToDate(dates, month)
                            data = {}
                        }
                    }
                    // bi-montly
                    if (this.paymentFrequency === 6) {
                        var month = 60
                        //validate payment frequency and set day in date
                        // initiate date in first payment
                        var dates = this.$refs.firstPayment.value
                        for (var i = 1; i <= (this.paymentFrequency * this.$refs.termInYear.value); i++) {
                            var control = this.isEven(i)
                            data.date = dates
                            data.number = i 
                            if (i < (this.paymentFrequency * this.$refs.termInYear.value)) {
                                data.payment = this.round(this.totalPayment, -1)
                                data.additionalPayment = 0
                                data.interest = this.round(this.rate * this.totalAmountLoanz, -1)
                                data.principal = this.round(data.payment - data.interest, -1)
                                var bala = this.round(this.totalAmountLoanz - data.principal, -1)
                                data.balance = bala         
                            } else {
                                data.interest = this.round(this.rate * this.totalAmountLoanz, -1)
                                data.payment = this.round(this.tablaData[this.tablaData.length - 1].balance + data.interest, -1)
                                data.principal = this.round(this.tablaData[this.tablaData.length - 1].balance, -1)
                                data.additionalPayment = 0
                                data.balance = 0
                            }
                            // push item tot abladata
                            this.tablaData.push(data)
                            this.totalAmountLoanz = this.totalAmountLoanz - data.principal
                            //sum days to date
                            dates = this.sumDaysToDate(dates, month)
                            data = {}
                        }
                    }
                     // quartle
                    if (this.paymentFrequency === 4) {
                        var month = 91
                        //validate payment frequency and set day in date
                        // initiate date in first payment
                        var dates = this.$refs.firstPayment.value
                        for (var i = 1; i <= (this.paymentFrequency * this.$refs.termInYear.value); i++) {
                            var control = this.isEven(i)
                            data.date = dates
                            data.number = i 
                            if (i < (this.paymentFrequency * this.$refs.termInYear.value)) {
                                data.payment = this.round(this.totalPayment, -1)
                                data.additionalPayment = 0
                                data.interest = this.round(this.rate * this.totalAmountLoanz, -1)
                                data.principal = this.round(data.payment - data.interest, -1)
                                var bala = this.round(this.totalAmountLoanz - data.principal, -1)
                                data.balance = bala         
                            } else {
                                data.interest = this.round(this.rate * this.totalAmountLoanz, -1)
                                data.payment = this.round(this.tablaData[this.tablaData.length - 1].balance + data.interest, -1)
                                data.principal = this.round(this.tablaData[this.tablaData.length - 1].balance, -1)
                                data.additionalPayment = 0
                                data.balance = 0
                            }
                            // push item tot abladata
                            this.tablaData.push(data)
                            this.totalAmountLoanz = this.totalAmountLoanz - data.principal
                            //sum days to date
                            dates = this.sumDaysToDate(dates, month)
                            data = {}
                        }
                    }
                    // semi
                    if (this.paymentFrequency === 2) {
                        var month = 192
                        //validate payment frequency and set day in date
                        // initiate date in first payment
                        var dates = this.$refs.firstPayment.value
                        for (var i = 1; i <= (this.paymentFrequency * this.$refs.termInYear.value); i++) {
                            var control = this.isEven(i)
                            data.date = dates
                            data.number = i 
                            if (i < (this.paymentFrequency * this.$refs.termInYear.value)) {
                                data.payment = this.round(this.totalPayment, -1)
                                data.additionalPayment = 0
                                data.interest = this.round(this.rate * this.totalAmountLoanz, -1)
                                data.principal = this.round(data.payment - data.interest, -1)
                                var bala = this.round(this.totalAmountLoanz - data.principal, -1)
                                data.balance = bala         
                            } else {
                                data.interest = this.round(this.rate * this.totalAmountLoanz, -1)
                                data.payment = this.round(this.tablaData[this.tablaData.length - 1].balance + data.interest, -1)
                                data.principal = this.round(this.tablaData[this.tablaData.length - 1].balance, -1)
                                data.additionalPayment = 0
                                data.balance = 0
                            }
                            // push item tot abladata
                            this.tablaData.push(data)
                            this.totalAmountLoanz = this.totalAmountLoanz - data.principal
                            //sum days to date
                            dates = this.sumDaysToDate(dates, month)
                            data = {}
                        }
                    }
                     // annual
                    if (this.paymentFrequency === 1) {
                        var month = 364
                        //validate payment frequency and set day in date
                        // initiate date in first payment
                        var dates = this.$refs.firstPayment.value
                        for (var i = 1; i <= (this.paymentFrequency * this.$refs.termInYear.value); i++) {
                            
                            var control = this.isEven(i)
                            
                            data.date = dates
                            data.number = i 

                            if ((this.paymentFrequency * this.$refs.termInYear.value) === 1) {
                                var aa = this.round(this.rate * this.totalAmountLoanz, -1)
                                data.payment = this.round((parseFloat(this.totalAmountLoanz) + parseFloat(aa)), -1)
                                data.additionalPayment = 0
                                data.interest = this.round(this.rate * this.totalAmountLoanz, -1)
                                data.principal = this.round(data.payment - data.interest, -1)
                                var bala = this.round(this.totalAmountLoanz - data.principal, -1)
                                data.balance = bala         
                            }

                            if ((this.paymentFrequency * this.$refs.termInYear.value) > 1) {
                                if (i < (this.paymentFrequency * this.$refs.termInYear.value)) {
                                    data.payment = this.round(this.totalPayment, -1)
                                    data.additionalPayment = 0
                                    data.interest = this.round(this.rate * this.totalAmountLoanz, -1)
                                    data.principal = this.round(data.payment - data.interest, -1)
                                    var bala = this.round(this.totalAmountLoanz - data.principal, -1)
                                    data.balance = bala         
                                } else {
                                    data.interest = this.round(this.rate * this.totalAmountLoanz, -1)
                                    data.payment = this.round(this.tablaData[this.tablaData.length - 1].balance + data.interest, -1)
                                    data.principal = this.round(this.tablaData[this.tablaData.length - 1].balance, -1)
                                    data.additionalPayment = 0
                                    data.balance = 0
                                }     
                            }
                                                        // push item tot abladata
                            this.tablaData.push(data)
                            this.totalAmountLoanz = this.totalAmountLoanz - data.principal
                            //sum days to date
                            dates = this.sumDaysToDate(dates, month)
                            data = {}
                        }
                    }
                // calculate total payment by amortized only
                } else if (parseInt(type.target.value) === 2) {
                    this.totalAmountLoanz = this.amount
                    // montly
                    if (this.paymentFrequency === 12) {
                        var test = this.calculatePmt(this.rate, (this.paymentFrequency * this.$refs.termInYear.value), this.amount)
                        var month = 30
                        //validate payment frequency and set day in date
                        // initiate date in first payment
                        var dates = this.$refs.firstPayment.value
                        for (var i = 1; i <= (this.paymentFrequency * this.$refs.termInYear.value); i++) {
                            data.date = dates
                            data.number = i 
                            data.payment = test
                            data.additionalPayment = 0
                            data.interest = (this.rate * this.totalAmountLoanz).toFixed(2)
                            data.principal = (data.payment - data.interest).toFixed(2)
                            data.balance = (this.totalAmountLoanz - data.principal).toFixed(2)
                            // push item tot abladata
                            this.tablaData.push(data)
                            this.totalAmountLoanz = data.balance
                            //sum days to date
                            dates = this.sumDaysToDate(dates, month)
                            data = {}
                        }
                    }

                    if (this.paymentFrequency === 52 || this.paymentFrequency === 26) {
                        var test = this.calculatePmt(this.rate, (this.paymentFrequency * this.$refs.termInYear.value), this.amount)
                        var day = 0
                        //validate payment frequency and set day in date
                        if (this.paymentFrequency === 52) {
                            day = 7
                        }
                        if (this.paymentFrequency === 26) {
                            day = 14
                        }
                        // initiate date in first payment
                        var dates = this.$refs.firstPayment.value
                        for (var i = 1; i <= (this.paymentFrequency * this.$refs.termInYear.value); i++) {
                            data.date = dates
                            data.number = i 
                            data.payment = test
                            data.additionalPayment = 0
                            data.interest = (this.rate * this.totalAmountLoanz).toFixed(2)
                            data.principal = (data.payment - data.interest).toFixed(2)
                            data.balance = (this.totalAmountLoanz - data.principal).toFixed(2)
                            // push item tot abladata
                            this.tablaData.push(data)
                            this.totalAmountLoanz = data.balance
                            //sum days to date
                            dates = this.sumDaysToDate(dates, day)
                            data = {}
                        }
                    }
                }
                this.calculateTotal()
            },
            sumDaysToDate (date, days) {
                var newDate = new Date(date);
                newDate.setDate(newDate.getDate() + days);
                return newDate.toISOString().split('T')[0]
            },
            sumMonthToDate (date, month) {
                var newDate = new Date(date);
                newDate.setMonth(newDate.getMonth() + month);
                return newDate.toISOString().split('T')[0]
            },
            roundNumber (type, value, exp) {
                // Si el exp no está definido o es cero...
                if (typeof exp === 'undefined' || +exp === 0) {
                  return Math[type](value);
                }
                value = +value;
                exp = +exp;
                // Si el valor no es un número o el exp no es un entero...
                if (isNaN(value) || !(typeof exp === 'number' && exp % 1 === 0)) {
                  return NaN;
                }
                // Shift
                value = value.toString().split('e');
                value = Math[type](+(value[0] + 'e' + (value[1] ? (+value[1] - exp) : -exp)));
                // Shift back
                value = value.toString().split('e');
                return +(value[0] + 'e' + (value[1] ? (+value[1] + exp) : exp));
            },
            round (value, exp) {
              return this.roundNumber('round', value, exp)
            },
            isEven(value){
                if (value%2 == 0)
                    return 1;
                else
                    return 0;
            },
            calculatePmt (rate, nper, pv) {
                var total = 0
                var co = this.amount
                var n = this.$refs.termInYear.value
                var m = this.paymentFrequency
                var ti = this.interest
                var im = ti / m / 100
                var im2 = Math.pow((1 + im), -(m * n))
                total = (co * im) / (1 - im2)
                return total.toFixed(2)
            },
            formatNumber(num) {
                var formatted = new Intl.NumberFormat('en', {
                    style: 'currency',
                    currency: 'USD'
                }).format( num );
                return formatted;
            },
            calculateTotal () {
                this.totalToPay = 0
                this.totalInterestToPay = 0
                for (var i = 0; i < this.tablaData.length; i++) {
                    var a = this.totalToPay + parseFloat(this.tablaData[i].payment)
                    this.totalToPay = this.round(a, -1)
                    var b = this.totalInterestToPay + parseFloat(this.tablaData[i].interest)
                    this.totalInterestToPay = this.round(b, -1)
                }
            },
            addLoans () {
                var data = {}
                var data = {}
                data.amount = this.amount
                data.interest = this.interest
                data.termInYear = this.termInYear
                data.first_payment = this.first_payment
                data.paymentFrequency = this.paymentFrequency
                data.typeSelected = this.typeSelected
                data.compoundPeriod = this.compoundPeriod
                data.paymentType = this.paymentType
                data.totalToPay = this.totalToPay
                data.totalInterestToPay = this.totalInterestToPay
                data.loansData = this.tablaData
                data.rate = this.showRate
                data.numberOfPayment = this.numberOfPayment
                data.totalInterestToPay = this.totalInterestToPay
                data.totalToPay = this.totalToPay
                axios({ url: '/dashboard/loans/store', data: data,
                    headers: { 'Accept': 'application/json;charset=utf-8' } ,method: 'POST' })
                .then(response => {
                    if (response.data.success) {
                        alert(response.data.success)
                        window.location.replace('/dashboard/loans/')
                    }
                })
                .catch(err => {
                    console.log(err)
                })
                return false
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
